GlobalLogic_task/.terraform
Oril_task/terraform*
GlobalLogic_task/.terraform*
Alpacked_task/aws_cdk_TypeScript
TypeScript/node_modules
Oril_task/.terraform*
Terraform_teaching/terraform*
Terraform_teaching/.terraform*
